<h1>Team <%=params[:team][:name]%> </h1>

<h2>Team Motto: <%=params[:team][:motto]%></h2>

<%params[:team][:members].each do |i|%>
    <h2>Hero Name: <%=i[:name]%></h2>
    <p>Hero Power: <%=i[:power]%></p>
    <p>Hero Biography: <%=i[:bio]%></p>   
<%end%>



